@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<HiepStore.Models.News>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách tin tức" + CurrentPage;
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tin tức : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminNews" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm tin</span></a>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminNews" asp-action="Trash"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thùng rác</span></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ảnh</th>
                        <th>Tiêu đề</th>
                        <th>Thẻ</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Là tin nóng</th>
                        <th>là tin mới</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Details" asp-route-id="@item.Id">
                                        <div class="d-flex align-items-center text-wrap" style="max-width: 200px">
                                            <img class="img-fluid rounded" src="~/assets/images/news/@item.Thumb" style="max-width: 60px" alt="@item.Alias" />
                                        </div>
                                    </a>
                                </td>
                                <td><a asp-area="Admin" asp-controller="AdminPosts" asp-action="Details" asp-route-id="@item.Id"><h6>@item.Title</h6></a></td>
                                @if (item.TagsId != null)
                                {
                                    <td>@item.Tags.Name</td>
                                }
                                else
                                {
                                    <td>Không có</td>
                                }
                                <td>@item.CreatedAt</td>
                                <td>
                                    @if (item.IsPublished == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Public</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Non-Public</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (item.IsHot == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Hot</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>-</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (item.IsNewfeed == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>IsNewFeed</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>-</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNews" asp-action="Details" asp-route-id="@item.Id">Xem</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNews" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNews" asp-action="DeleteTrash" asp-route-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminNews" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
