@model List<HiepStore.ModelViews.CartItem>
@{
    ViewData["Title"] = "Xem giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@if (Model != null && Model.Count() > 0)
{
    <!-- ========================= SECTION CONTENT ========================= -->
    <h2 style="text-align: center; margin-bottom: -20px; margin-top: 10px">Giỏ hàng của bạn</h2>
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <div class="card">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="120">Số lượng</th>
                                    <th scope="col" width="120">Giá</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="product-@item.product.Id">
                                            <td>
                                                <figure class="itemside">
                                                    <div class="aside"><img src="~/assets/images/products/@item.product.Thumb" class="img-sm"></div>
                                                    <figcaption class="info">
                                                        <a href="#" class="title text-dark">@item.product.Name</a>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <input type="number" class="cartItem form-control" data-mahh="@item.product.Id" value="@item.amount" min="1" max="10">

                                                <!--<div class="input-group mb-3 input-spinner">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                                    </div>
                                                    <div style="max-width:100px;" class="py-1">
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                                    </div>
                                                </div>-->
                                                <!--<script>
                                                    $('#button-plus, #button-minus').on('click', function (e) {
                                                        const isNegative = $(e.target).closest('#button-minus').is('#button-minus');
                                                        const input = $(e.target).closest('.input-group').find('input');
                                                        if (input.is('input')) {
                                                            input[0][isNegative ? 'stepDown' : 'stepUp']()
                                                        }
                                                    })
                                                </script>-->
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">@Convert.ToDecimal(item.product.Discount).ToString("#,##")&nbsp;₫</var>
                                                    <small class="text-muted" style="text-decoration: line-through;"> @Convert.ToDecimal(item.product.Price).ToString("#,##") đ</small>
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                            <td class="text-right">
                                                <input type="hidden" value="@item.product.Id" id="productid" />
                                                <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>

                                                <a class="removecart btn btn-light btn-round" data-mahh="@item.product.Id"> Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <p>Không có sản phẩm trong giỏ hàng</p>
                                }


                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            <a href="@Url.Action("Index", "Checkout")" class="btn btn-primary float-md-right"> Đặt hàng <i class="fa fa-chevron-right"></i> </a>
                            <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua hàng </a>
                        </div>
                    </div> <!-- card.// -->

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Giao hàng miễn phí trong vòng 1 tuần</p>
                    </div>

                </main> <!-- col.// -->
                <aside class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Nhập mã giảm giá</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="" placeholder="Nhập mã giảm">
                                        <span class="input-group-append">
                                            <button class="btn btn-primary">Áp dụng</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                    @{
                        var price = Model.Sum(n => n.product.Price * n.amount);
                        var toltalPrice = Model.Sum(n => n.product.Discount * n.amount);
                        var discount = price - toltalPrice;
                    }
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Tiền hàng:</dt>
                                <dd class="text-right">@Convert.ToDecimal(price).ToString("#,##") đ</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Giảm giá:</dt>
                                <dd class="text-right">-@Convert.ToDecimal(discount).ToString("#,##") đ</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tổng cộng:</dt>
                                <dd class="text-right  h5"><strong>@Convert.ToDecimal(toltalPrice).ToString("#,##") đ</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="~/Content/images/misc/payments.png" height="26">
                            </p>

                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                </aside> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
}
else
{
    <div class="text-center my-5">
        <img src="/assets/images/cart/empty-cart.jpg">
    </div>
    <div class="text-center mb-5">
        <a asp-action="index" asp-controller="home" class="btn btn-warning" type="button">Tiếp tục Mua sắm</a>

        <br><br><br><br><br>
        
    </div>
}





@section Scripts{
    <script>
        $(function () {
            function loadHeaderCart() {
                //$('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
            $(".removecart").click(function () {
                var productid = $(this).attr("data-mahh");
                $.ajax({
                    url: "Cart/Remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            //loadHeaderCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Xóa giỏ hàng lỗi !")
                    }
                });
            });
            $(".cartItem").click(function () {
                var productid = $(this).attr("data-mahh");
                var soluong = parseInt($(this).val());
                $.ajax({
                    url: "Cart/UpdateCart",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function (result) {
                        if (result.success) {
                            //loadHeaderCart();//Reload lai gio hang
                            alert("thêm số lượng thành công");
                            window.location = 'Cart';
                        }
                    },
                    error: function (rs) {
                        alert("Lỗi cập nhật giỏ hàng!")
                    }
                });
            });
        });
    </script>
}








@*<script type="text/javascript">
    function UpdateCart(Id) {
        var model = {};
        //lấy id sản phẩm
        model.Id = Id;
        // lấy số lượng đặt hàng
        model.Quantity = $("#ipQuantity" + "-" + Id).val();
        model.Flag = 1;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Cart")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Thêm giỏ hàng thành công!")
                $('#CartCount').text(@Session["count"] + 1);
            },
            error: function () {
                alert("Lỗi trong khi thêm vào giỏ hàng!");
            }
        });
        return false;
    }

    function DeleteCart(Id) {
        var model = {};
        //lấy id sản phẩm
        model.Id = Id;
        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove", "Cart")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                $('#CartCount').text(@Session["count"] - 1);
                $("#product-" + model.Id).remove();
                alert("Xóa giỏ hàng thành công!");
            },
            error: function () {
                alert("Lỗi trong khi xóa giỏ hàng!");
            }
        });
        return false;
    }
</script>
*@