@model HiepStore.Areas.Admin.Models.DasboardViewModel


@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Đơn hàng mới</h5>
                    <div>
                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index" class="btn btn-sm btn-default">Xem tất cả</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày</th>
                                    <th>số lượng</th>
                                    <th>trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListOrder.Take(5))
                                {
                                    <tr>
                                        <td>#@item.Id</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-image" style="height: 30px; min-width: 30px; max-width:30px">
                                                        <img src="~/assets/images/avatars/@item.Customer.Avatar" alt="">
                                                    </div>
                                                    <h6 class="m-l-10 m-b-0">@item.Customer.LastName @item.Customer.FirstName</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.OrderDate</td>
                                        <td>@item.TotalMoney</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="badge badge-success badge-dot m-r-10"></span>
                                                <span>@item.TransactStatus.Description</span>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Sản phẩm mới </h5>
                    <div>
                        <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="btn btn-sm btn-default">xem tất cả</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model.ListProduct.Take(5))
                        {
                            <li class="list-group-item p-h-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <div class="avatar avatar-image m-r-15">
                                            <img src="~/assets/images/products/@item.Thumb" alt="">
                                        </div>
                                        <div>
                                            <h6 class="m-b-0">
                                                <a href="javascript:void(0);" class="text-dark">@item.Name</a>
                                            </h6>
                                            <span class="text-muted font-size-13">@item.Category.Name</span>
                                        </div>
                                    </div>
                                    @{
                                        var Price = Convert.ToDouble(item.Price);
                                        var giaGiam = Convert.ToDouble(item.Price) - Convert.ToDouble(item.Discount);
                                        var phantramgiam = Math.Round((giaGiam / Price) * 100, 2);
                                    }
                                    <span class="badge badge-pill badge-cyan font-size-12">
                                        <span class="font-weight-semibold m-l-5">Giảm giá @phantramgiam%</span>
                                    </span>
                                </div>
                            </li>
 
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
