@model HiepStore.Models.Customer

@{
	ViewData["Title"] = "Dashboard";
	List<Order> DanhSachDonHang = ViewBag.DonHang;
	var total = DanhSachDonHang.Sum(x => x.TotalMoney).ToString("#,##0");
	var recentOrders = ViewBag.recentOrders;
	var favoriteProduct = ViewBag.favoriteProduct;
	HiepStore.ModelViews.ChangePasswordViewModel changePassword = new HiepStore.ModelViews.ChangePasswordViewModel();
}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">
				<nav class="list-group">
					<a class="list-group-item active" data-bs-toggle="tab" id="account-dashboard-tab" href="#account-dashboard"> Tài khoản của tôi  </a>
					<a class="list-group-item" data-bs-toggle="tab" href="#account-address"> Địa chỉ của tôi </a>
					<a class="list-group-item" data-bs-toggle="tab" href="#account-orders"> Đơn hàng của tôi </a>
					<a class="list-group-item" data-bs-toggle="tab" href="#account-wishlist"> Sản phẩm yêu thích </a>
					<a class="list-group-item" data-bs-toggle="tab" href="#account-Setting"> Cài đặt tài khoản </a>
					<a class="list-group-item" asp-action="Logout" asp-controller="Accounts"> Đăng xuất </a>

				</nav>
			</aside> <!-- col.// -->
			<main class="col-md-9">
				<div class="tab-content">
					<!-- account-dashboard -->
					<div class="tab-pane show active" id="account-dashboard">
						<article class="card mb-3">
							<div class="card-body">

								<figure class="icontext">
									<div class="icon">
										<img class="rounded-circle img-sm border" src="~/assets/images/avatars/@Model.Avatar">
									</div>
									<div class="text">
										<strong>@Model.LastName @Model.FirstName</strong> <br>
										<p class="mb-2"> @Model.Email  </p>
										<a href="#account-Setting" class="btn btn-light btn-sm">Chỉnh sửa</a>
									</div>
								</figure>
								<hr>
								<p>
									<i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ:
									<br>
									@Model.Address &nbsp
									<a href="#account-Setting" class="btn-link"> Chỉnh sửa</a>
								</p>



								<article class="card-group card-stat">
									<figure class="card bg">
										<div class="p-3">
											<h4 class="title">@total</h4>
											<span>Đơn hàng</span>
										</div>
									</figure>
									<figure class="card bg">
										<div class="p-3">
											<h4 class="title">5</h4>
											<span>Sản phẩm yêu thích</span>
										</div>
									</figure>
									<figure class="card bg">
										<div class="p-3">
											<h4 class="title">2</h4>
											<span>Chờ giao hàng</span>
										</div>
									</figure>
									<figure class="card bg">
										<div class="p-3">
											<h4 class="title">5</h4>
											<span>Đơn hàng thành công</span>
										</div>
									</figure>
								</article>


							</div> <!-- card-body .// -->
						</article> <!-- card.// -->

						<article class="card  mb-3">
							<div class="card-body">
								<h5 class="card-title mb-4">Đặt gần đây </h5>
								<div class="row">
									@foreach (var item in recentOrders)
									{
										<div class="col-md-6">
											<figure class="itemside  mb-3">
												<div class="aside"><img src="~/assets/images/products/@item.Thumb" class="border img-sm"></div>
												<figcaption class="info">
													<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.10.2022</time>
													<p>@item.Name </p>
													<span class="text-success">Đặt hàng thành công </span>
												</figcaption>
											</figure>
										</div> <!-- col.// -->
									}
								</div> <!-- row.// -->

								<a href="#" class="btn btn-outline-primary btn-block"> Xem tất cả <i class="fa fa-chevron-down"></i>  </a>
							</div> <!-- card-body .// -->
						</article> <!-- card.// -->

					</div> <!-- account-dashboard end.// -->
					<!-- account-address -->
					<div class="tab-pane" id="account-address">
						<a href="#" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Thêm Địa chỉ mới </a>
						<div class="row">
							<div class="col-md-6">
								<article class="box mb-4">
									<h6>@Model.Address</h6> <!--tỉnh(thành phố trực thuộc trung ương), Huyện(Quận)-->
									<p>@Model.Address  </p> <!--Số nhà, đường, xóm(khu phố), thôn(ấp hoặc tổ), xã(Phường)-->
									<a href="#" class="btn btn-light disabled"> <i class="fa fa-check"></i> Mặc định</a> <a href="#" class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="#" class="btn btn-light"> <i class="text-danger fa fa-trash"></i></a>
								</article>
							</div>  <!-- col.// -->
						</div> <!-- row.// -->
					</div> <!-- account-address end.// -->
					<!-- account-orders -->
					<div class="tab-pane" id="account-orders">
						@foreach (var item in DanhSachDonHang)
						{
							<article class="card mb-4">
								<header class="card-header">
									<a href="#" class="float-right"> <i class="fa fa-print"></i> In đơn hàng</a>
									<strong class="d-inline-block mr-3">Mã hàng: @item.Id</strong>
									<span>Order Date: @item.OrderDate</span>
								</header>
								<div class="card-body">
									<div class="row">
										<div class="col-md-8">
											<h6 class="text-muted">Vận chuyển tới</h6>
											<p>
												@item.Customer.LastName @item.Customer.FirstName<br>
												Phone: @item.Customer.Phone Email: @item.Customer.Email <br>
												Location: @item.Customer.Address <br>
											</p>
										</div>
										<div class="col-md-4">
											<h6 class="text-muted">Thanh toán</h6>
											<span class="text-success">
												<i class="fab fa-lg fa-cc-visa"></i>
												Thanh toán khi nhận hàng
											</span>
											<p>
												<span class="b">Tổng tiền:  @item.TotalMoney.ToString("#,##0") VNĐ </span>
											</p>
											<a href="javascript:void(0)" class="xemdonhang btn btn-outline-primary" data-madonhang="@item.Id">Xem sản phẩm trong đơn hàng</a>
										</div>
									</div> <!-- row.// -->
								</div> <!-- card-body .// -->
								<div class="table-responsive">
									<table class="table table-hover">
										<tbody id="records_table">
											<!--Xem các sản phẩm trong đơn hàng(chi tiết đơn hàng)-->
										</tbody>
									</table>
								</div> <!-- table-responsive .end// -->
							</article> <!-- card order-item .// -->
						}
					</div><!-- account-orders end.// -->
					<!-- account-wishlist -->
					<div class="tab-pane" id="account-wishlist">
						<article class="card">
							<div class="card-body">
								<div class="row">
									@foreach (var item in favoriteProduct)
									{
										<div class="col-md-6">
											<figure class="itemside mb-4">
												<div class="aside"><img src="~/assets/images/products/@item.Thumb" class="border img-md"></div>
												<figcaption class="info">
													<a href="#" class="title">@item.Name</a>
													<p class="price mb-2">@item.Discount</p>
													<a href="#" class="btn btn-secondary btn-sm"> Thêm vào giỏ hàng </a>
													<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Xóa khỏi Danh sách yêu thích"> <i class="fa fa-times"></i> </a>
												</figcaption>
											</figure>
										</div> <!-- col.// -->
									}
								</div> <!-- row .//  -->

							</div> <!-- card-body.// -->
						</article>
					</div><!-- account-wishlist end.// -->
					<!-- account-Setting -->
					<div class="tab-pane" id="account-Setting">
						<div class="card">
							<div class="card-body">
								<form class="row" asp-action="EditCustomer" asp-controller="Accounts" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
									<div class="col-md-9">
										<div class="form-row">
											<div class="col form-group">
												<label>Tên</label>
												<input type="text" asp-for="FirstName" class="form-control" placeholder="Tên" value="@Model.FirstName">
												<span asp-validation-for="FirstName" class="text-danger"></span>
											</div> <!-- form-group end.// -->
											<div class="col form-group">
												<label>Họ</label>
												<input type="text" asp-for="LastName" class="form-control" placeholder="Họ" value="@Model.LastName">
												<span asp-validation-for="LastName" class="text-danger"></span>
											</div> <!-- form-group end.// -->
										</div> <!-- form-row.// -->
										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Email</label>
												<input type="email" asp-for="Email" class="form-control" placeholder="Địa chỉ Email" value="@Model.Email">
												<span asp-validation-for="Email" class="text-danger"></span>
											</div> <!-- form-group end.// -->
											<div class="form-group col-md-6">
												<label>Điện Thoại</label>
												<input type="tel" asp-for="Phone" class="form-control" placeholder="Số điện thoại" value="@Model.Phone">
												<span asp-validation-for="Phone" class="text-danger"></span>
											</div> <!-- form-group end.// -->
										</div> <!-- form-row.// -->

										<button type="submit" class="btn btn-primary">Lưu</button>
										<div class="list-group d-inline">
											<a class="btn btn-light" data-bs-toggle="tab" href="#account-change-password">Đổi mật khẩu</a>
										</div>
										<br>

									</div> <!-- col.// -->
									<div class="col-md">
										<img src="~/assets/images/avatars/@Model.Avatar" class="img-md rounded-circle border" id="previewImg">
										<input name="fThumb" type="file" class="form-control-file" asp-for="Avatar" onchange="document.getElementById('previewImg').src = window.URL.createObjectURL(this.files[0])" />
										<span asp-validation-for="Avatar" class="text-danger"></span>
									</div>  <!-- col.// -->
								</form>
							</div> <!-- card-body.// -->
						</div> <!-- card .// -->
					</div> <!-- account-Setting end.// -->
					<!-- account-ChangePassword -->
					<div class="tab-pane" id="account-change-password">
						@await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
					</div> <!-- account-ChangePassword end.// -->

				</div>
			</main> <!-- col.// -->
		</div>

	</div> <!-- container .//  -->
</section>
<!-- Bootstrap5 CDN JavaScript Bundle with Popper-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!-- ========================= SECTION CONTENT END// ========================= -->
@*
<main class="main-content">
    <div class="account-page-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Thông tin tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Danh sách đơn hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Thay đổi mật khẩu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="@Url.Action("Logout","Accounts")" role="tab" aria-selected="false">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="myaccount-dashboard">
                                <p>
                                    Xin chào, <b>@Model.FirstName</b>
                                </p>
                                <p>Email: @Model.Email</p>
                                <p>Số điện thoại: @Model.Phone</p>
                                <p>Địa chỉ: @Model.Address</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">DANH SÁCH ĐƠN HÀNG</h4>
                                @if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
                                {
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Ngày mua hàng</th>
                                                    <th>Ngày ship hàng</th>
                                                    <th>Trạng thái</th>
                                                </tr>
                                                @foreach (var item in DanhSachDonHang)
                                                {
                                                    <tr>
                                                        <td><a class="account-order-id" href="javascript:void(0)">#@item.Id</a></td>
                                                        <td>@item.OrderDate</td>
                                                        <td>@item.ShipAt</td>
                                                        <td>@item.TransactStatus.Status</td>
                                                        <td>
                                                            <a href="javascript:void(0)" class="xemdonhang" data-madonhang="@item.Id">Xem đơn hàng</a>
                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <hr />
                                        <div id="records_table">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p>Chưa có đơn hàng!</p>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="myaccount-address">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="small-title">BILLING ADDRESS</h4>
                                        <address>
                                            @Model.Address
                                        </address>
                                    </div>
                                    <div class="col">
                                        <h4 class="small-title">SHIPPING ADDRESS</h4>
                                        <address>
                                            @Model.Address
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                            @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Bootstrap5 CDN JavaScript Bundle with Popper-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
*@


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/Order/Details',
                    datatype: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}