<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-y-lg text-white">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Thương hiệu</h6>
                    <ul class="list-unstyled">
                        <li> <a href="@Url.Action("ProductBrand","Brand")/1">Apple</a></li>
                        <li> <a href="@Url.Action("ProductBrand","Brand")/2">Samsung</a></li>
                        <li> <a href="@Url.Action("ProductBrand","Brand")/3">Xiaomi</a></li>
                        <li> <a href="@Url.Action("ProductBrand","Brand")/4">Huawei</a></li>
                        <li> <a href="@Url.Action("Index","Brand")">Tất cả thương hiệu</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Công ty</h6>
                    <ul class="list-unstyled">
                        <li> <a href="@Url.Action("About","Home")">Về chúng tôi</a></li>
                        <li> <a href="#">Tìm kiếm cửa hàng offline</a></li>
                        <li> <a href="#">Điều khoản</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Trợ giúp</h6>
                    <ul class="list-unstyled">
                        <li> <a href="@Url.Action("Contact","Home")">Cộng tác với chúng tôi</a></li>
                        <li> <a href="#">Phương thức thanh toán</a></li>
                        <li> <a href="#">Trạng thái đơn hàng</a></li>
                        <li> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang quản trị</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Tài khoản</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Đăng nhập </a></li>
                        <li> <a href="#"> Đăng kí </a></li>
                        <li> <a href="#"> Cài đặt tài khoản </a></li>
                        <li> <a href="#"> Đơn hàng của tôi </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Chúng tôi trên:</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section>	<!-- footer-top.// -->

        <section class="footer-bottom text-center">

            <p class="text-muted"> Công ty TNHH Thương mại và dịch vụ kỹ thuật ABC - GPĐKKD: 0316172372 do sở KH & ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 012.3456.7890. </p>
            <br>
        </section>
    </div><!-- //container -->
</footer>
